#navigation{display:none;}
#logo{
	position: relative;
	float: left;
	display: block;
	height: 50px;
	width: 180px;
	top: 30px;
	left: 70px;
	padding: 0;
	margin: 0;
	background: none;
	text-indent: 0;
	color: #000;
	font-size: 25px;
	text-indent: none;
	}
#home-index #right-col{border:none;}