/*======================= CSS STYLE RESET ======================== */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
/*a,*/ abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

/* =================================================================================================== */
/* GENERAL SITE CSS */
/* =================================================================================================== */
body{
	background: #f0f5f9;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #011a5c;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	z-index: 1;
	}
	
	/* =================================================================================================== */
	/* GENERAL STYLING */ 
	/* =================================================================================================== */
	/* base links */	
	a:link, a:visited{color:#011a5c; text-decoration:none;}
	a:hover, a:active{color:#011a5c; text-decoration:underline;}
	
	/* text treatments */
	h1, h2, h3, h4, h5{font-family:Palatino, "Trebuchet MS", "Times New Roman", Arial, Verdana, sans-serif; color:#fff;}
	h6{font-family:Arial, Verdana, sans-serif;}
	
	h1{margin:30px 0 10px 0; font-size:46px; font-weight:normal;}
	h2{margin:30px 0 10px 0; font-size:38px; font-weight:normal;}
	h3{margin:35px 0 5px 0;  font-size:24px; font-weight:normal;}
	h4{margin:35px 0 5px 0;  font-size:16px; font-weight:normal;}
	h5{margin:35px 0 5px 0;  font-size:14px; font-weight:normal;}
	h6{margin:35px 0 5px 0;  font-size:12px; font-weight:normal; color:#D00;}
	
	p, ul{padding-bottom:12px; line-height: 18px;}
	.headline{font-size:12px; font-weight:bold; line-height:22px;}
	.paragraph-header{font-weight:bold; padding-top: 0px; line-height:12px;}
	
	/* text alignment overrides */
	.left	{text-align:left   !important;}
	.center {text-align:center !important;}
	.right	{text-align:right  !important;}
	
	/* float classes */
	.floatleft 	{float:left;  margin:5px 15px 5px 0;}
	.floatright	{float:right; margin:5px 0 5px 15px;}
	.clear		{position:relative; height:0; padding:0; margin:0; line-height:0; clear:both;}
	
	.bttn-red-arrow{
		padding-left: 30px; 
		font: 18px "Times New Roman", Arial, sans-serif;
		display: block; 
		height: 22px;
		line-height: 22px; 
		background: url(../images/bttn_red_arrow.png) no-repeat;
		color: #59cdf6;		
		}
		.bttn-red-arrow:hover{color:#95f6ff; text-decoration:none;}
	
	/* =================================================================================================== */
	/* LAYOUT STYLING */ 
	/* =================================================================================================== */
	#navigation{
		position: relative;
		background: #f0f5f9 url(../images/navbg.png) repeat-x;
		height: 60px;
		width: 100%;
		z-index: 1;
		}
		
		.main{
			position: relative;
			width: 870px;
			height: 40px;
			margin: 0 auto;
			list-style: none;
			font-family: "Trebuchet MS", "Times New Roman", Arial, sans-serif;
			}
			.main li{float:left; color:#f00; padding:0 6px; line-height:40px;}
			.main li a:link, .main li a:visited{color:#fff; text-decoration:none;}
			.main li a:hover, .main li a:active{color:#95f6ff; text-decoration:none;}

			/* login nav items */		
			.sub{
				position: relative; 
				top: 6px; 
				float: right; 
				margin: 0; 
				padding: 0;
				list-style: none; 
				text-transform: uppercase;  
				}	
				.sub li{float:none; line-height:13px; font-size:12px; color:#fff; font-weight:bold;}
					.sub li:hover{color:#f00;}
					.sub li a:link, .sub li a:visited{color:#95f6ff; text-decoration:none; font-weight:normal; font-size:11px;}
					.sub li a:hover, .sub li a:active{color:#95f6ff; text-decoration:none; font-weight:normal; font-size:11px;}
			
	#content{
		position: relative;
		background: #f0f5f9;
		margin: 0 auto;
		width: 920px;
		height: 100%;
		z-index: 1;
		}
		
		/* ================== */
		/* upper content pane */
		/* ================== */
		#upper{
			position: relative;
			background: #f0f5f9;
			height: 110px;
			width: 850px;
			}
			
			#logo{
				position: relative;
				float: left;
				background: transparent url(../images/logo.png) no-repeat;
				height: 110px;
				width: 225px;
				display: block;
				padding: 0;
				margin: 0;
				text-indent: -9999px;
				}
				
			#upper table{position:relative; float:right; top:20px; width: 595px;}
			
			#upper table td{
				font-family: "Trebuchet MS", "Times New Roman", Arial, sans-serif;
				font-size: 12px;
				line-height: 11px;
				padding: 5px 40px;
				border-left: 2px solid #b0d4ee; 
				border-right: 2px solid #b0d4ee;	
				}
			
			#upper #contact-info h2{font-size: 19px;margin-top:0px;color:#011a5c;}
						
		/* ================= */
		/* base lower styles */
		/* inner page styles */
		/* ================= */	
		#lower{
			position: relative;
			height: 100%;
			width: 917px;
			margin-top: 20px;
			background: transparent url(../images/inner_shadow.png) repeat-y;
			z-index: 5;
			}
			
			#lower-inner-wrapper{
				position: relative;
				height: 100%; 
				width: 917px;
				background: transparent url(../images/inner_page_bg.png) no-repeat;
				z-index: 0;
				}
			
				#left-col{
					position: relative;
					width: 168px;
					height: 400px; /* also acts as a pseudo min-height for page length */
					left: 77px;
					float: left;
					padding: 0 10px;
					margin: 0;
					overflow: hidden;
					}
					
					#left-col h2{font:30px Palatino, "Times New Roman", Arial, sans-serif; padding:inherit 10px;}
					#left-col h3{font:16px Palatino, "Times New Roman", Arial, sans-serif; padding:inherit 10px; margin:15px 0;}
					#left-col p{line-height:19px; color:#fff; padding:inherit 0; font-family: "Trebuchet MS", "Times New Roman", Arial, sans-serif;}
					#left-col img{position:relative; left:-10px; width:188px !important; overflow:hidden;} /*width restricts images to this value on purpose */
					
				#right-col, #tagline{
					position: relative;
					width: 572px;
					right: 55px;
					top: 15px;
					padding: 0;
					margin: 22px 0 0 0;
					float: right;
					font-size: 14px;
					}
					#tagline{width:572px; padding:40px 0 15px 0; margin:0; top:0;}
					#right-col img{border:7px solid #9FBFDF;}
					#right-col a{text-decoration:underline;}
					#right-col ul{list-style: disc; margin-left: 20px;}
					#right-col li{line-height:18px;}
					
					#right-col h1, #right-col h2, #right-col h3, #right-col h4, #right-col h5, #right-col h6{color:#011a5c; margin-top: 10px;}

					#right-col #inner-cols{font-size:12px;}
					#right-col #inner-cols h3{color:#eee;}
					#right-col ul#inner-cols{list-style: none;margin-left: 0px;}
					#right-col ul#inner-cols a{text-decoration:none;}
					

		
	/* =================== */
	/* footer content pane */
	/* =================== */		
	#footer{
		position: relative;
		background: #f0f5f9 url(../images/footerbg.png) repeat-x;
		height: 53px;
		width: 100%;
		text-align: center;
		z-index: 5;
		}
		
		#footer ul{position:relative; width:580px; margin:0 auto; padding:25px 0 20px 0; list-style-type:disc; left:100px;}
		#footer ul li{font-size:11px; float:left; padding:0 10px; margin:0 10px;}
		
				
			
	/* =============== */
	/* homepage styles */
	/* =============== */	
	/* cancel inner shadows and backgrounds */			
		#home-index #lower{background:#f0f5f9 url(../images/home_page_bg.png) no-repeat;}
		#home-index #lower-inner-wrapper{background:none;}
		
		#home-index #left-col h3{padding-top: 10px; font-size: 22px;}
		#home-index #left-col p{padding-top: 0px;	line-height: 16px; color: #EAEAEA;}
		
		#home-index #right-col{
			position: relative;
			width: 556px;
			height: 100%;
			top: 0;
			right: 78px;
			border: 8px solid #1A1D5B;
			border-top: none;
			background: transparent url(../images/home_right_col_bg.png) no-repeat 0 448px;
			color: #59cdf6;
			}
			
			#home-index #right-col h3{
				width: 180px; 
				text-align: center; 
				margin: 0 auto; 
				font: 28px Palatino, "Times New Roman", Arial, sans-serif;
				font-weight: normal;
				padding: 10px 0;
				}
				
				#home-index #right-col p{padding:10px 15px; line-height:20px;}
				#home-index #right-col p .bttn-red-arrow{color:#59cdf6;}
				#home-index #right-col p .bttn-red-arrow:hover{color:#fff;}				
				#home-index #right-col img{border:none;}
				#home-index #tagline{padding:15px 0;}
				
				#home-index #inner-cols {position:relative; list-style:none;}
				#home-index #inner-cols li{float:left; width:185px;}
		
		#home-index #footer ul{left:77px;}